<div id="params" class="jumbotron">
    <h1>Watchapp params</h1>
     
    <div class="row">
      <div class="col-12">
        <input type="text"  
        (change)="updatePrams(params)"
        [(ngModel)]="params" 
        placeholder="params row" 
        class="form-control">
      </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary disabled">Load defaults</button>
            <button class="btn btn-primary disabled">Load preset #1</button>
            <button class="btn btn-primary" (click)="updatePrams(defaultWhosOn)">Load "Whos on" preset</button>
            <button class="btn btn-danger" (click)="updatePrams('?')">Reset</button>
        </div>  
    </div>

    <div class="row">
        <div class="col-12">
            <span>Only row type available now</span>
        </div>
    </div>

    <div class="row">
      <div class="col-12">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#paramsMenu" aria-expanded="false" aria-controls="collapseExample">
            Params menu
          </button>
        </div>
    </div>
  
      <div class="collapse" id="paramsMenu">
        <div class="well">

          <div class="row-group">
            <div class="row">
              <div class="col-5">
                <label class="textMid">
                  <input type="checkbox">
                  host_version_name
                </label>
              </div>
              <div class="col-7">
                  <select class="form-control">
                    <option selected>provider</option>
                  </select>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                  <label class="textMid">
                    <input type="checkbox">
                    debug_mode
                  </label>
                </div>
                <div class="col-7">
                    <select class="form-control">
                      <option selected>True</option>
                      <option selected>False</option>
                    </select>
                  </div>
              </div>

              <div class="row">
                  <div class="col-5">
                    <label class="textMid">
                      <input type="checkbox">
                      platform
                    </label>
                  </div>
                  <div class="col-7">
                      <select class="form-control">
                        <option selected>WEB</option>
                        <option>Other platforms</option>
                      </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                      <label class="textMid">
                        <input type="checkbox">
                        device_id
                      </label>
                    </div>
                    <div class="col-7">
                        <input type="text" class="form-control" placeholder="Device id">
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          content_type
                        </label>
                      </div>
                      <div class="col-7">
                          <select class="form-control">
                            <option selected>Movie</option>
                          </select>
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          content_id
                        </label>
                      </div>
                      <div class="col-7">
                          <input type="text" class="form-control" placeholder="Content id">
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          content_title
                        </label>
                      </div>
                      <div class="col-7">
                          <input type="text" class="form-control" placeholder="Content title">
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          associated_content_id
                        </label>
                      </div>
                      <div class="col-7">
                          <input type="text" class="form-control" placeholder="Associated content id">
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          platform_version
                        </label>
                      </div>
                      <div class="col-7">
                          <input type="text" class="form-control" placeholder="Platform version">
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          user_id
                        </label>
                      </div>
                      <div class="col-7">
                          <input type="text" class="form-control" placeholder="User ID">
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          payload
                        </label>
                      </div>
                      <div class="col-7">
                          <input type="text" class="form-control" placeholder="Payload">
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          operator
                        </label>
                      </div>
                      <div class="col-7">
                          <select class="form-control">
                            <option selected>D0</option>
                            <option selected>D10</option>
                          </select>
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          dev_rex
                        </label>
                      </div>
                      <div class="col-7">
                          <select class="form-control">
                            <option selected>True</option>
                          </select>
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-5">
                        <label class="textMid">
                          <input type="checkbox">
                          channel_id
                        </label>
                      </div>
                      <div class="col-7">
                          <input type="text" class="form-control" placeholder="Channel id">
                        </div>
                  </div>

        </div>
      </div>

  </div>
</div>