<div class="container">
    <div class="row">
        <nav class="col-3 sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Reports</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Analytics</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Export</a>
                </li>
            </ul>
        </nav>
        <div class="col-9">
            <app-facebook-connect></app-facebook-connect>
            <h2>Socialite</h2>
        </div>
    </div>
</div>